.card
    width: 30%
    margin: 5px
    display: inline-block
    transition: 1s all

.card:hover
    box-shadow: 2px 5px 15px rgba(0,0,0,0.6)

.card .title, .card .content
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis